body{
  font-family: 'Open Sans'
}

.App {
  /* text-align: center; */
  height:100vh;
  width:100vw;
}

.app-wrapper{
  height:100%;
  width:100%;
}

.left-border{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.5vw;
  z-index: 10;
}

.right-border{
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3.5vw;
  z-index: 10;

}