.Contact {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.Contact::-webkit-scrollbar {
  display: none;
}

.contact-wrapper {
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.contact-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
  letter-spacing: 0.3vw;
}

.contact-line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-left: 1.5vw;
}

.contact-squares {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.contact-squares .contact-square {
  width: 33.33333333%;
  box-sizing: border-box;
}

.contact-squares .inner-square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 1.5vw;
  margin: 0.5vw;
  text-align: center;
}

.inner-square a {
  word-break: break-all;
  text-decoration: none;
}

.inner-square img {
  margin-bottom: 5px;
}

.contact-form {
  width: 100%;
  display: flex;
}

.left-contact-form {
  width: 50%;
  padding-right: 15px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.right-contact-form {
  width: 50%;
  padding-left: 15px;
}

.input-field {
  font-family: "Poppins";
  margin-bottom: 2vh;
  padding: 1vh;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: transparent;
  letter-spacing: 1.4px;
}
textarea {
  height: 120px;
}

.form-submit {
  /* width: 70%;
  font-size: 16px;
  /* transition: all 0.3s ease; */
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 1vh 2vh;
  border: 2px solid black;
}
.form-submit:hover {
  transition: all 0.3s ease;
  background-color: white;
  color: black;
}

.email-me {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 850px) {
  .contact-squares {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .contact-squares .contact-square {
    width: 100%;
  }
  .contact-form {
    flex-direction: column;
  }
  .left-contact-form {
    width: 100%;
    padding: 0px;
    margin-bottom: 30px;
  }
  .right-contact-form {
    width: 100%;
    padding: 0px;
    height: 300px;
  }
}
