.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  /* width:100vw; */
  line-height: 70px;
  background-color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}
.footer-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper {
  width: 15vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.react,
.magic {
  height: 30%;
}

.icon-wrapper a {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10%;
}

.facebook {
  cursor: pointer;
  height: 100%;
}
.instagram {
  cursor: pointer;
  height: 100%;
}

.linkedin {
  cursor: pointer;
  height: 100%;
}

.github {
  cursor: pointer;
  height: 100%;
}

@media (max-width: 1180px) {
  .Footer {
    /* padding: 0; */
  }
}

@media (max-width: 850px) {
  .Footer {
    display: none;
  }
}
