
.Home{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
}

.home-wrapper{
    padding-left: 6vw;
}

h1{
    margin:0;
}

.name {
    margin-bottom: 2vh;
    font-size: 5.5vh;
    font-weight: 700;
    padding:0;
}

.home-line{
    display: inline-block;
    width: 70px;
    height: 5px;
    background-color: #333;  
    margin-bottom: 3vh;
}


.Typewriter{
    font-size:2vh;
    /* font-weight:500; */
    margin-bottom: 3vh;
}

.home-connect{
    background-color: black;
    color:white;
    font-size: 1.5vh;
    font-weight: bold;
    cursor: pointer;
    padding: 1vh 2vh;
    border: 2px solid black;
}

.home-connect:hover{
    transition: all .3s ease;
    background-color: white;
    color:black;
}