.Main {
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 70px;
  right: 70px;
  overflow: hidden;
  background-color: #f6fbff;
}

.profile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  z-index: 15;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
}

.image {
  height: 100%;
  background-image: url(./static/profile-min2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 1180px) {
  .profile {
    display: none;
  }
  .content {
    width: 100%;
  }
  .Main {
    left: 0px;
    right: 0px;
  }
}

@media (max-width: 850px) {
  .Main {
    bottom: 0px;
  }
}
